spring:
   profiles:
      active:
      - dev
---
spring:
    profiles: dev
    application:
        name: microservicecloud-config-fanhaowen-devvv
---
spring :
    profiles: test
    application:
        name: microservicecloud-config-fanhaowen-test
  
